---
import { siteConfig } from "@/config/site";
import HeroCard from "@/components/home/HeroCard.astro";
import Layout from "@/layouts/Layout.astro";
import AnimatedText from "@/components/ui/AnimatedText.astro";
import SectionHeader from "@/components/elements/SectionHeader.astro";
---

<Layout
  title=" Zorro and Zorro: A Tale of Two Zorros Across Time"
  description="A look at the two iconic portrayals of Zorro in film history, comparing the 1940 film starring Tyrone Power and the 1998 adaptation featuring Antonio Banderas."
>
  <div
    class="relative site-container z-20 w-full mx-auto mt-16 px-4 md:mt-18 lg:mt-20 xl:px-0"
  >
    <div
      class="relative w-full px-4 flex flex-col items-center justify-between md:flex-row mb-16"
    >
      <div
        class="relative w-full md:max-w-[420px] md:w-1/2 text-center sm:text-left sm:-mt-8"
      >
        <!-- Title - AnimatedText animation -->
        <h1 class="mb-4">
          <AnimatedText
            content="Zorro and Zorro: A Tale of Two Zorros Across Time"
            delay={0.1}
            duration={0.5}
            stagger={0.08}
            class="text-5xl text-pri leading-tight md:text-4xl lg:text-6xl font-brand"
          />
        </h1>

        <!-- First description - AnimatedText animation -->
        <div class="mb-2">
          <AnimatedText
            content="A look at the two iconic portrayals of Zorro in film, comparing the 1940 film starring Tyrone Power and the 1998 adaptation featuring Antonio Banderas."
            delay={0.3}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>
      </div>

      <!-- HeroCard - AOS animation -->
      <div
        class="relative justify-end w-full mt-16 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
        data-aos="fade-left-sm"
        data-aos-delay="300"
        data-aos-duration="800"
        data-aos-once="true"
      >
        <HeroCard
          imageUrl="/assets/home/twozorros.png"
          title="Zorro (1940) vs Zorro (1998)"
          link=""
        />
      </div>
    </div>
  </div>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <!-- Add content here using some component -->
    <SectionHeader title="The Mark of Zorro (1940)" />
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/zorro-power.png"
            title="Tyrone Power as Zorro"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Don Diego de la Vega</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            Don Diego assumes the role of Zorro after he comes back home to find
            his dad had been ousted as alcalde and replaced by a new corrupt
            alcalde, Don Luis Quintero. He learns of the mistreatment and
            decides to take action against the new leadership where he ousts Don
            Luis and his caballeros, restoring his father's position and
            bringing justice to the people. Intertwined is his romance with Don
            Luis' niece Lolita.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/lolita.png"
            title="Linda Darnell as Lolita Quintero"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Lolita Quintero</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            Lolita is the niece of Don Luis Quintero. She catches the eye of Don
            Diego de la Vega. Unaware of his secret identity, she falls for
            Zorro, admiring his bravery. Don Diego reveals his identity to her
            and they marry in the end while Don Luis is cast off to Spain and
            forced to resign.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/don-luis.png"
            title="J. Edward Bromberg (right) as Don Luis Quintero"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Don Luis Quintero</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            The new alcalde, Don Luis extracts the wealth of the people with
            harsh taxes and mistreatment. He offers a bounty for Zorro, and
            escalates action as Zorro continues to torment him throughout the
            movie. He deduces that Don Diego is Zorro and locks him up, but
            Zorro escapes and defeats Don Luis in the end.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <SectionHeader title="The Mask of Zorro (1998)" />
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/diego-hopkins.png"
            title="Anthony Hopkins as Don Diego de la Vega / Zorro"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Don Diego de la Vega</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            This Don Diego is much older than Power's portrayal. Here, Zorro is already seasoned and in the midst of his years. He is locked away, but escapes some 20
            years later to reclaim his daughter Elena, who was stolen from him
            by the Spanish governor, Don Rafael Montero to raise Elena as his
            own. Though he is not as agile as he once was, he fought to reclaim
            his daughter and to carry on the legacy of Zorro by training a new
            Zorro, Alejandro Murrieta. Throughout the movie, we can see his
            central goal is to get Elena back and have her know the truth, and
            succeeds all the way until his final moments.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/zorro-banderas.png"
            title="Antonio Banderas as Alejandro Murrieta / Zorro"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Alejandro Murrieta / Zorro</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            He and his brother Joaquín helped Don Diego in a battle once, when 3
            peasants were to bee executed. Fast forward 20 years later, the
            Murrieta brothers play as bandits, running a scam to collect a
            bounty on their heads. They are later chased by Don Rafel's
            right-hand man Captain Harrison Love. Alejandro escapes while
            Joaquín is shot, cornered, and shoots himself before Captain Love
            can kill him. Murrieta vows revenge against Captain Love. When Don
            Diego finds him drunk and with a medallion that was given to him at
            then end of the battle they fought together, he trains Murrieta to
            become the new Zorro to help him take down Captain Love and Don
            Rafael in the process.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/elena.png"
            title="Catherine Zeta-Jones as Elena Montero"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Elena Montero</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            Elena is the daughter of Don Diego de la Vega. When she was a baby,
            Don Rafael took her away from Don Diego after locking him up. She
            was raised as Don Rafael's daughter without knowing her true
            parents. She falls for Alejandro Murrieta as he begins to get close
            in Don Rafael's circle. Elena, like Lolita, goes against the
            conventional wisdom and admires Zorro, and confessing this
            attraction to Alejandro while hiding in a conession booth, who she
            unknowlingly assumed was Padre.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/rafael.png"
            title="Stuart Wilson as Don Rafael Montero"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Don Rafael Montero</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            Don Rafael is an enemy of Don Diego and the ruthless Governor of Alta California. After deducing that Zorro was Don Diego de la Vega, he ambushes him at his residence to take him into custody, confirmed with blood he found on de la Vega's sirt from a previous recent battle. As there is struggle, Esperazana, Don Diego's wife, is killed in crossfire from one of Don Rafael's men. He later takes Elena away from Don Diego, raising her as his own daughter. He is the main antagonist of the movie, and is killed in the end.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
