---
import { siteConfig } from "@/config/site";
import HeroCard from "@/components/home/HeroCard.astro";
import Layout from "@/layouts/Layout.astro";
import AnimatedText from "@/components/ui/AnimatedText.astro";
import SectionHeader from "@/components/elements/SectionHeader.astro";
---

<Layout
  title=" Zorro and Zorro: A Tale of Two Zorros Across Time"
  description="A look at the two iconic portrayals of Zorro in film history, comparing the 1940 film starring Tyrone Power and the 1998 adaptation featuring Antonio Banderas."
>
  <div
    class="relative site-container z-20 w-full mx-auto mt-16 px-4 md:mt-18 lg:mt-20 xl:px-0"
  >
    <div
      class="relative w-full px-4 flex flex-col items-center justify-between md:flex-row mb-16"
    >
      <div
        class="relative w-full md:max-w-[420px] md:w-1/2 text-center sm:text-left sm:-mt-8"
      >
        <!-- Title - AnimatedText animation -->
        <h1 class="mb-4">
          <AnimatedText
            content="Zorro and Zorro: A Tale of Two Zorros Across Time"
            delay={0.1}
            duration={0.5}
            stagger={0.08}
            class="text-5xl text-pri leading-tight md:text-4xl lg:text-6xl font-brand"
          />
        </h1>

        <!-- First description - AnimatedText animation -->
        <div class="mb-2">
          <AnimatedText
            content="A look at the two iconic portrayals of Zorro in film, comparing the 1940 film starring Tyrone Power and the 1998 adaptation featuring Antonio Banderas."
            delay={0.3}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>
      </div>

      <!-- HeroCard - AOS animation -->
      <div
        class="relative justify-end w-full mt-16 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
        data-aos="fade-left-sm"
        data-aos-delay="300"
        data-aos-duration="800"
        data-aos-once="true"
      >
        <HeroCard
          imageUrl="/assets/home/twozorros.png"
          title="Zorro (1940) vs Zorro (1998)"
          link=""
        />
      </div>
    </div>
  </div>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <!-- Add content here using some component -->
    <SectionHeader title="The Mark of Zorro (1940)" />
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/zorro-power.png"
            title="Tyrone Power as Zorro"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Don Diego de la Vega</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            Don Diego assumes the role of Zorro after he comes back home to find
            his dad had been ousted as alcalde and replaced by a new corrupt
            alcalde, Don Luis Quintero. He learns of the mistreatment and
            decides to take action against the new leadership where he ousts Don
            Luis and his caballeros, restoring his father's position and
            bringing justice to the people. Intertwined is his romance with Don
            Luis' niece Lolita.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/lolita.png"
            title="Linda Darnell as Lolita Quintero"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Lolita Quintero</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            Text goes here
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/don-luis.png"
            title="J. Edward Bromberg (right) as Don Luis Quintero"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Don Luis Quintero</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            Text goes here
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <SectionHeader title="The Mask of Zorro (1998)" />
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <div class="site-container px-4 md:px-8">
      <div class="flex items-start gap-6">
        <div class="w-72 md:w-80 mr-6">
          <HeroCard
            imageUrl="/assets/home/zorro-power.png"
            title="Tyrone Power as Zorro"
            link=""
          />
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-2">Don Diego de la Vega</h3>
          <p
            class="text-base text-neutral-700 dark:text-neutral-300 mb-4 text-balance"
          >
            Zorro is the masked identity of Don Diego de la Vega, who moonlights
            as this vigilante to combat the corruption from the ruling Spanish
            governor and to give peace to the peasants who are subjected to
            tyranny.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
